{%extends "dual-content-page.html"%}
{%block title%}Conclusion - CPS530{%endblock%}
{%block header%}Conclusion{%endblock%}
{%block subheader1%}Semantic UI - Review{%endblock%}
{%block subheader2%}Flask - Review{%endblock%}
{%block text1%}
<div class="ui two wide column grid" style="padding: 1%;">
    <div class="eight wide column">
        <h1 class="ui medium header">Installation</h1>
    </div>
    <div class="eight wide column">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
    </div>
    <div class="sixteen wide column">
        <p>The installation process of Semantic UI was very easy. It simply required a link tag in the head with the Semantic UI url.</p>
    </div>
</div>
<!----------------------------------------------------------------->
<div class="ui two wide column grid" style="padding: 1%;">
    <div class="eight wide column">
        <h1 class="ui medium header">Ease of Use</h1>
    </div>
    <div class="eight wide column">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
    </div>
    <div class="sixteen wide column">
        <p>Semantic UI was easy to use, although I personally dislike the long class names. I prefer the abbreviated class names of Bootstrap. Aside from this one minor inconvenience, the framework was easy to use.</p>
    </div>
</div>
<!----------------------------------------------------------------->
<div class="ui two wide column grid" style="padding: 1%;">
    <div class="eight wide column">
        <h1 class="ui medium header">Learning Curve</h1>
    </div>
    <div class="eight wide column">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
    </div>
    <div class="sixteen wide column">
        <p>With my previous knowledge of CSS and Bootstrap, Semantic UI was a breeze to learn.</p>
    </div>
</div>
<!----------------------------------------------------------------->
<div class="ui two wide column grid" style="padding: 1%;">
    <div class="eight wide column">
        <h1 class="ui medium header">Expectations</h1>
    </div>
    <div class="eight wide column">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
    </div>
    <div class="sixteen wide column">
        <p>I was expecting a bigger change as compared to Bootstrap, but Semantic UI kept feeling like a lower level or older version of Bootstrap.</p>
    </div>
</div>

{%endblock%}
{%block text2%}
<div class="ui two wide column grid" style="padding: 1%;">
    <div class="eight wide column">
        <h1 class="ui medium header">Installation</h1>
    </div>
    <div class="eight wide column">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
    </div>
    <div class="sixteen wide column">
        <p>Once Python was installed on the server, Flask was very easy to install. Requiring just one "pip install" line in the command line. The difficulty began when hosting the flask product on a production server.</p>
    </div>
</div>
<!----------------------------------------------------------------->
<div class="ui two wide column grid" style="padding: 1%;">
    <div class="eight wide column">
        <h1 class="ui medium header">Ease of Use</h1>
    </div>
    <div class="eight wide column">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
    </div>
    <div class="sixteen wide column">
        <p>I have personally used Flask before to create an API, so I found it very easy to use and understand. The ability to reduce repeat HTML/CSS was an amazing feature, but my favourite was Jinja2 implementation. PHP is similiar to Jinja2 but my familiarity with pythonic code made this implementation much easier for me.</p>
    </div>
</div>
<!----------------------------------------------------------------->
<div class="ui two wide column grid" style="padding: 1%;">
    <div class="eight wide column">
        <h1 class="ui medium header">Learning Curve</h1>
    </div>
    <div class="eight wide column">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
    </div>
    <div class="sixteen wide column">
        <p>As stated before, I had used Flask before, and as a result there was no learning curve. Viewing it from the angle of someone that had basic-advanced knowledge of Python and HTML, I feel the curve would still be relatively small.</p>
    </div>
</div>
<!----------------------------------------------------------------->
<div class="ui two wide column grid" style="padding: 1%;">
    <div class="eight wide column">
        <h1 class="ui medium header">Expectations</h1>
    </div>
    <div class="eight wide column">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
    </div>
    <div class="sixteen wide column">
        <p>I found everything I was hoping to do with the backend was easily doable. And as a result, has not only met but exceeded my expectations.</p>
    </div>
</div>

{%endblock%}
{%block bottomtext%}
<div class="row"></div>
<div class="fourteen wide computer fourteen wide tablet sixteen wide phone column space" style="padding: 1%;border-style: solid;border-radius: 25px; border-width: 3px;">
    <div class="ui three column centered grid" style="padding: 1%;">
        <div class="seven wide tablet sixteen wide phone column">
            <h1 class="ui medium header">Would you have done anything differently?</h1>
            <p>I made the backend a huge portion of the webpages/site. I think if I was to do this project again I would reduce my implementation of it. This is because I feel most pages didn't require it.</p>
        </div>
        <div class="two wide computer only tablet only column"></div>
        <div class="seven wide tablet sixteen wide phone column">
            <h1 class="ui medium header">Did you regret your choice of framework?</h1>
            <p>I definetly regreted my choice of frontend framework, as I felt I didn't expose myself to a new framework. I mereily got more practice with Bootstrap. If I was to go back, I would choose React due to the uses of it in web and mobile development.</p>
            <p>I didn't regret my choice of Flask as my backend as it exposed me to a different powerful aspect of Flask and Python as a whole.</p>
        </div>
    </div>
</div>
{%endblock%}