{%extends "dual-content-page.html"%}
{%block title%}Credits - CPS530{%endblock%}
{%block header%}Credits and References{%endblock%}
{%block subheader1%}Credits{%endblock%}
{%block subheader2%}References{%endblock%}
{%block text1%}
<div class="column" style="padding-top: 4%;">
    <figure>
        <img class="ui fluid circular image" src="https://media-exp1.licdn.com/dms/image/C4E03AQEwZeFL4yoD-A/profile-displayphoto-shrink_200_200/0/1625982962760?e=1643846400&v=beta&t=7Dfj6SHsNVWafMKr5TMs5M16OvfYZbhk8J_dnXTR51A" alt="Photo of Yahya Muhammad" style="max-height: 600px;">
        <figcaption style="text-align: center;padding-top: 4%;"><h4 class="ui medium header">Yahya Muhammad</h4></figcaption>
    </figure>
</div>
{%endblock%}
{%block text2%}
    <h4 class="ui medium header" style="padding-top: 2%;">Semantic UI</h4>
    <div class="ui relaxed divided list" style="padding-top: 2%;">
        <div class="item">
            <div class="content">
                <a class="ui medium header" href="https://semantic-ui.com/">Semantic UI</a>
                <div class="description">Offical Documentation of Semantic UI</div>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <a class="ui medium header" href="https://www.youtube.com/watch?v=a9mUH1EWp40">Youtube - Semantic UI</a>
                <div class="description">Semantic UI In 60 Minutes - Traversy Media</div>
            </div>
        </div>
    </div>

    <h4 class="ui medium header" style="padding-top: 2%;">Flask</h4>
    <div class="ui relaxed divided list" style="padding-top: 2%;">
        <div class="item">
            <div class="content">
                <a class="ui medium header" href="https://flask.palletsprojects.com/en/2.0.x/">Flask</a>
                <div class="description">Offical Documentation of Flask</div>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <a class="ui medium header" href="https://www.youtube.com/watch?v=mqhxxeeTbu0&list=PLzMcBGfZo4-n4vJJybUVV3Un_NFS5EOgX">Youtube - Flask Playlist</a>
                <div class="description">Flask Tutorials - Tech With Tim</div>
            </div>
        </div>
    </div>

    <h4 class="ui medium header" style="padding-top: 2%;">General Styling</h4>
    <div class="ui relaxed divided list" style="padding-top: 2%;">
        <div class="item">
            <div class="content">
                <a class="ui medium header" href="https://coolors.co/">Coolor</a>
                <div class="description">Theme Helper</div>
            </div>
        </div>
    </div>

    <h4 class="ui medium header" style="padding-top: 2%;">Deploying App to DigitalOceans</h4>
    <div class="ui relaxed divided list" style="padding-top: 2%;">
        <div class="item">
            <div class="content">
                <a class="ui medium header" href="https://www.digitalocean.com/community/tutorials/how-to-deploy-a-flask-app-using-gunicorn-to-app-platform">Deploy App to Flask</a>
                <div class="description">Documentation from DigitalOceans</div>
            </div>
        </div>
    </div>
{%endblock%}