{%extends "header.html" %}
{%block title%}Demo | CPS530{%endblock%}
{%block header%}Demo{%endblock%}
{%block body%}
<div class="ui three column centered grid" style="padding-top: 2%;;">
    <div class="one wide computer tablet only column"></div>


    <div class="fourteen wide computer fourteen wide tablet sixteen wide phone column space" style="padding: 2%;border-style: solid;border-width: 3px;height: 100%;">
        <h1 class="ui large header">Login </h1>
    </div>


    <div class="one wide computer tablet only column"></div>
</div>
{%endblock%}