<head>
    <title>{%block title%}{%endblock%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/themes/prism.min.css"/>
    <!--START OF STYLE CODE-->
<style>
    html{
        overflow-x: hidden;
    }
    body{
        background-color: #D4D4D4;
    }
    code {
        background-color: #eee;
        border: 1px solid #999;
        display: block;
        padding: 20px;
        margin-top: 2%;
        margin-bottom: 2%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .checked {
        color: orange;
    }
    .space {
        background-color: white;
    }
</style>
<!--END OF STYLE CODE-->
</head>
<body>
    <div class="ui container fluid" style="padding: 0;margin-top: 25px;">
        <nav class="ui equal width center aligned grid" style="border-width: 3px;border-style: solid;border-left: 0;border-right: 0;" >
            <div class="row space">
                <div class="two wide computer two wide tablet six wide phone column"><a href={{url_for("summary")}}>Summary</a></div>
                <div class="two wide computer two wide tablet six wide phone column"><a href={{url_for("install")}}>Installation</a></div>
                <div class="two wide computer two wide tablet six wide phone column"><a href={{url_for("tutorial")}}>Tutorial</a></div>
                <div class="two wide computer two wide tablet six wide phone column"><a href={{url_for("demo")}}>Demo</a></div>
                <div class="two wide computer two wide tablet six wide phone column"><a href={{url_for("conclusion")}}>Conclusion</a></div>
                <div class="two wide computer two wide tablet six wide phone column"><a href={{url_for("credits")}}>Credits</a></div>
            </div>
        </nav>
{%block body%}

{%endblock%}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/prism.min.js"></script>
</body>