{%extends "dual-content-page.html"%}
{%block title%}Summary - CPS530{%endblock%}
{%block header%}Summary{%endblock%}
{%block subheader1%}Semantic UI{%endblock%}
{%block subheader2%}Flask{%endblock%}
{%block text1%}
<div class="column" style="padding-top: 4%;">
    <h4 class="ui medium header">Popularity</h4>
    <p>Semantic UI is an alternative to Bootstrap and provides similiar features. Due to the overwhelming popularity of Bootstrap, Semantic UI is left in the shadow of it's older brother. As a results, Semantic UI is not a very popular frontend framework</p>
</div>
<div class="row" style="padding-top: 4%;">
    <h4 class="ui medium header">Strength</h4>
    <ul>
            <li>Ease of Use - Class names are very intuitive</li>
            <li>Open Source</li>
            <li>Clean and Consistent Markup</li>
    </ul>
</div>
<div class="column" style="padding-top: 4%;">
    <h4 class="ui medium header">Weakness</h4>
    <ul>
        <li>Few Recent updates - Latest Github Commit in 2018 </li>
        <li>Missing Many Features of Bootstrap</li>
        <li>Less Browser Compatibilty</li>
    </ul>
</div>
<div class="column" style="padding-top: 4%;">
    <h4 class="ui medium header">Uses</h4>
    <p>Semantic UI is used to create responsive web designs and layouts (similiar to Bootstrap), while utilizing builtin styled components.</p>
</div>
<div class="column" style="padding-top: 4%;">
    <h4 class="ui medium header">Examples</h4>
    <ul>
        <li><a href="https://www.snapchat.com/">Snapchat</a></li>
        <li><a href="https://edabit.com/">Edabit</a></li>
        <li><a href="https://stoplight.io/">StopLight</a></li>
    </ul>
</div>
{%endblock%}
{%block text2%}
<div class="column" style="padding-top: 4%;">
    <h4 class="ui medium header">Popularity</h4>
    <p>Flask is very popular in the Python web development community, and actively seen as the first or the second most popular framework. Its only rival being Django.</p>
</div>
<div class="row" style="padding-top: 4%;">
    <h4 class="ui medium header">Strength</h4>
    <ul>
            <li>Lightweight Framework</li>
            <li>Jinja2 Template Library - Embedded Pythonic code into HTML templates</li>
            <li>Control over project resources - Developers can utliize any Python library</li>
    </ul>
</div>
<div class="column" style="padding-top: 4%;">
    <h4 class="ui medium header">Weakness</h4>
    <ul>
        <li>Smaller community as compared to Django</li>
        <li>Complicated to create large scale web applications</li>
        <li>Security not builtin - Avaliable through importable libraries</li>
    </ul>
</div>
<div class="column" style="padding-top: 4%;">
    <h4 class="ui medium header">Uses</h4>
    <p>Flask can be used for creating smaller applications, fast. Although, majority of Flask users use it as a backend API for web or mobile applications</p>
</div>
<div class="column" style="padding-top: 4%;">
    <h4 class="ui medium header">Examples</h4>
    <ul>
        <li><a href="https://www.netflix.com/ca/">Netflix</a></li>
        <li><a href="https://www.lyft.com/">Lyft</a></li>
        <li><a href="https://www.reddit.com/">Reddit</a></li>
        <li><a href="https://www.airbnb.ca/">Airbnb</a></li>
    </ul>
</div>
{%endblock%}