{%extends "header.html" %}
{%block title%}Tutorial | CPS530{%endblock%}
{%block header%}Tutorial{%endblock%}
{%block body%}
<div class="ui three column centered grid" style="padding-top: 2%;">
    <div class="row">
        <div class="one wide computer tablet only column"></div>


        <div class="fourteen wide computer fourteen wide tablet sixteen wide phone column space" style="padding: 2%;border-style: solid;border-radius: 25px; border-width: 3px;height: fit-content;">
            <div class="sixteen wide column" style="text-align:center;">
                <h2 class="ui huge header">Semantic UI</h2>
                <hr>
            </div>
        </div>


        <div class="one wide computer tablet only column"></div>
    </div>

    <div class="row">
        <div class="one wide computer tablet only column"></div>


        <div class="fourteen wide computer fourteen wide tablet sixteen wide phone column space" style="padding: 2%;border-style: solid;border-radius: 25px; border-width: 3px;height: fit-content;">
            <div class="sixteen wide column" style="text-align:center;">
                <h2 class="ui huge header">Flask</h2>
                <hr>
            </div>
        </div>


        <div class="one wide computer tablet only column"></div>
    </div>
</div>
{%endblock%}